.modal-close {
    position: absolute;
    top: -0.2rem;
    right: 0;
    padding: 10px;
    border: 0;
    background: none;
    color: black;
    cursor: pointer;
}

.departmentMember-add-modal-container{
    width: 300px;
    height: auto;
}

.selected-member-container{
    word-break: keep-all;
    word-wrap: break-word;
    background-color:gainsboro;
    border-radius: 5px;
    padding: 5px;
    height: auto;
    margin-bottom: 5px;
}

.dpMember-list{
    background-color: gray;
    border-radius: 5px;
    height: auto;
}

.dropdown-member-div{
    background-color:whitesmoke;
    cursor: pointer;
    height: auto;
}

.dropdown-member-div:hover{
    background-color: gray;
}

.selected-member-div{
    background-color:whitesmoke;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 7px;
    height: auto;
}
.selected-member-div:hover{
    background-color: gray;
}

.searched-member-container{
    display: flex;
}

.searched-member-div{
    border-radius: 2px;
    height: 20px;
}
.searched-member-div:hover{
    background-color: gray;
}

.searched-Email-div{
    border-radius: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 20px;
}
.searched-Email-div:hover{
    background-color: gray;
}

.modal-container{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
.upload-modal-container{
    display: flex;
    flex-direction: column;
    align-content: center;
}
.bucket-modal-container{
    width: 685px;
    height: 480px;
    border: 10px solid rgb(246,189,189);
    border-radius: 5px;
    border-top-left-radius: 0px;
}
.bucket-modal-content{
    width: 100%;
    height: 100%;
    border: 1px solid black;
    border-radius: 5px;
}

.added-member-container{
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    flex-direction: column;
}
.bucket-menu{
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    background-color: rgb(246,189,189);
    font-size: 15px;
    display: inline;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 5px;
    padding-bottom: 3px;
    cursor: pointer;
}
.bucket-menu-unselected{
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    background-color: gainsboro;
    font-size: 15px;
    display: inline;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 5px;
    padding-bottom: 3px;
    cursor: pointer;
}
.bucket-menu-unselected:hover{
    background-color: rgb(246,189,189);
}

.file-upload-container{
    width: 80%;
    height: 200px;
    border: 1px solid black;
}

