.message{
    word-break: break-all;
    padding-bottom: 7px;

    font-family: 'Noto Sans CJK KR';
    font-style: normal;
    font-weight: 400;
}
.text-Area{
    width: 100%;
    border: none;
    outline-color: none;
}
.download-button{
    font-size: 40px;
    float: left;
    cursor: pointer;
    margin-top: auto;
    color:gray;
}
.download-button:hover{
    color: black;
}