.card{
    background-color:#F1F1F1;
}

.card:hover{
    background-color: #d5d4d4;
}

.talk-king-card{
    width: 45%;
    max-width: 400px;
    height: auto;
    background-color: #2B2B2B;
    border-radius: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    box-shadow: rgba(255, 255, 255, 0.2) 1px 1px 5px;
    padding: 10px;
    margin: 10px;
}

.talk-rank{
    text-align: center;
    font-family: 'Noto Sans CJK KR';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
}

.talk-king-card-body{
    width: 100%;
    display: inline-flex;
}

.bucket-card{
    width: 360px;
    height: 157px;
    background-color: #2B2B2B;
    border-radius: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    margin-top: 3px;
    margin-left: 3px;
    box-shadow: rgba(255, 255, 255, 0.2) 1px 1px 5px;
}

.bucket-semi-card{
    width: 250px;
    height: 65px;
    background-color: #2B2B2B;
    border-radius: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    padding-top: 5px;
    margin-top: 3px;
    margin-left: 3px;
    box-shadow: rgba(255, 255, 255, 0.2) 1px 1px 5px;
}

.bucket-card-top{
    display: inline-flex;
}

.percentage-circle{
    width: 80px;
    height: 80px;
    margin: 10px;
    flex-shrink: 0;
}
.talk-king-card-info{
    color: white;
    font-family: 'Noto Sans CJK KR';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    
    margin-top: 10px;
    /* margin-left: 10px; */
    width: 100%;
}

.bucket-card-department_info{
    color: white;
    font-family: 'Noto Sans CJK KR';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    
    margin-top: 10px;
    margin-left: 10px;
    width: 240px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bucket-card-commit-info{
    color: white;
    font-family: 'Noto Sans CJK KR';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;

    word-wrap: break-word;
    overflow: hidden;

    margin-left: 20px;
}

.bucket-commit-Title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 2px;
}

.bucket-commit-history{
    font-family: 'Noto Sans CJK KR';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -0.02em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
    color: #C7C7C7;
}