
.tail{
    display: flex;
    justify-content: center;
}
.Logo-style{
    height:150px;
    width: 420px;
}
.Login-sentence{
    font-size: 60px;
    font-weight: bolder;
    color: #C61C1C;
    text-shadow: rgba(0, 0, 0, 0.4) 2px 2px 10px;
    text-align: center;
}
.Signup-sentence{
    font-size: 40px;
    font-weight: bolder;
    color: #C61C1C;
    text-shadow: rgba(0, 0, 0, 0.4) 2px 2px 10px;
    text-align: center;
}
.Auth-form-container {
    display: flex;
    background-color: #2B2B2B;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
}

.Auth-form {
    width: 420px;
    box-shadow: rgba(255, 255, 255, 0.2) 1px 1px 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    border-radius: 120px;
}

.Auth-form-content {
    padding-left: 12%;
    padding-right: 12%;
}

.Auth-form-title {
    text-align: center;
    margin-bottom: 1em;
    font-size: 24px;
    font-weight: 800;
}

label {
    font-size: 14px;
    font-weight: 600;
}