.maincontainer {
    display: flex;
    align-items: stretch;
    width: 100vw;
    height: 100vh;
}

.container-top{
    width: 100%;
    height: 45px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}
.first-col{
    flex-direction: column;
    background-color: gainsboro;
    width: 60px;
    min-width: 60px;
    flex-shrink: 0;
    align-items: center;
}
.second-col{
    flex-direction: column;
    background-color: rgb(246,189,189);
    width: 240px;
    min-width: 240px;
    overflow-y: auto;
    flex-shrink: 0;
    align-items: center;
}
.third-col{
    flex-direction: column;
    background-color: white;
    flex-basis: 400px;
    min-width: 400px;
    flex-grow: 1;
    flex-shrink: 0;
    align-items: stretch;
}
.fourth-col-container{
    flex-direction: column;
    background-color: white;
    width: 300px;
    min-width: 300px;
    flex-shrink: 0;
    align-items: center;
}

.fourth-col{
    flex-direction: column;
    background-color: rgba(0,0,0,.05);
    width: 300px;
    min-width: 300px;
    flex-shrink: 0;
    height: calc(100% - 80px);
    overflow-y: auto;
    align-items: center;
    border-left: 1px solid black;
}

.first-col-Workspace{
    width: 100%;
    height: 50px;
    
}
.first-col-Bucket{
    width: 100%;
    height: 50px;
    
}
.second-col-WorkspaceInfo{
    width: 100%;
    height: 80px;
    background-color: rgb(246,189,189);
    border-bottom: 1px solid black;
}
.second-col-UserInfo{
    width: 100%;
    height: auto;
    
}
.second-col-DPList{
    width: 100%;
    height: auto;
    
    overflow-y: auto;
}
.second-col-WholeMemberList{
    width: 100%;
    height: auto;
    
    overflow-y: auto;
}

.third-col{
    flex-direction: column;
    background-color: white;
}
.third-col-DepartmentInfo{
    width: 100%;
    height: 80px;
    background-color: rgb(246,189,189);
    border-bottom: 1px solid black;
    padding-top: 5px;
}
.third-col-DepartmentInfo-Top{
    flex-direction: row;
}

.third-col-ChatList{
    width: flex;
    height: calc(100% - 145px);
    flex-grow: 1;
    flex-shrink: 1;
    overflow-y: auto;
    /* flex-wrap: wrap; */
    border-left: 1px solid black;
}
.third-col-ChatInput{
    width: 100%;
    height: auto;
    /* height: 150px;
    min-height: 150px;
    max-height: 150px; */
    border-left: 1px solid black;
}

.fourth-col-DepartmentInfo{
    width: 100%;
    height: 80px;
    background-color: rgb(246,189,189);
    border-bottom: 1px solid black;
    padding-top: 10px;
    padding-right: 10px;
}
.fourth-col-DPMemberListContainer{
    width: 280px;
    height:auto;
    border-radius: 20px;
    background-color: rgb(246,189,189);
    margin: 7px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.fourth-col-DPMemberList{
    width: 280px;
    height: auto;
    max-height: 172px;
    overflow-y: auto;
    border-end-end-radius: 20px;
    border-end-start-radius: 20px;
}
.fourth-col-UploadedFile{
    width: 280px;
    height: auto;
    background-color: rgb(246,189,189);
    border-radius: 20px;
    margin: 7px;
    margin-bottom: 15px;
}
.fourth-col-Bucket{
    width: 280px;
    height: auto;
    background-color: rgb(246,189,189);
    border-radius: 20px;
    margin: 7px;
    margin-bottom: 15px;
}
.child{
    background-color: white;
    height: 180px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius:20px;
}

.left-box,
.chat-box {
    height: 510px; 
    overflow-y: scroll;
}

.chat-body {
    width: auto;
}

.rounded-lg {
    border-radius: 0.5rem;
}

input::placeholder {
    font-size: 0.9rem;
    color: #999;
}

.button{
    font-size: 20px;
    color: gray;
    cursor: pointer;
}
.button:hover{
    color: black;
}

.setting{
    margin-bottom: 5px;
    font-size: 20px;
    color: gray;
    cursor: pointer;
}
.setting:hover{
    color: black;
}

.arrow{
    font-size: 20px;
    margin-bottom: 6px;
    color: gray;
    cursor: pointer;
    margin-left: 5px;
}

.arrow:hover{
    color: black;
}