.banner-container {
    background-color:rgb(246, 189, 189);
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.banner-top {
    padding-top: 4%;
    text-align: center;
}

.banner-bottom {
    text-align: center;
}