.banner-container {
    background-color:rgb(255, 177, 177);
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.banner-top {
    padding-top: 4%;
    text-align: center;
}

.banner-bottom {
    text-align: center;
}

.add-button{
    border: 0;
    background: none;
    color: black;
    cursor: pointer;
}