.workspace {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.image-slide-left .card,
.image-slide-right .card {
    background-color: #0e97b9e5 !important;
}

.image-slide-center .card {
    background-color: white !important;
}