.banner-container {
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.banner {
    display: flex;
}

.image-slide-left .card,
.image-slide-right .card {
    background-color: #0e97b9e5 !important;
}

.image-slide-center .card {
    background-color: white !important;
}